/*
Theme Name: Sanders System v1.0.2
Description: Based on Twenty Twenty-Five
Author: Aaron Sanders
Version: 1.0.2
Template: twentytwentyfive
Text Domain: twentytwentyfivechild
*/

a {
	text-underline-offset: 0.6ch !important;
}
.is-style-custom-flex-image img {
	vertical-align: middle !important;
}
:root :where(.wp-block-group.is-style-sanders-system-gradient-bg) {
	background: var(--wp--preset--gradient--blue-to-red);
}
:root :where(.wp-element-button:hover, .wp-block-button__link:hover) {
	background-color: var(--wp--preset--color--accent-red-hover-color) !important;
	color: var(--wp--preset--color--white) !important;
}

header.wp-block-template-part {
	position: sticky;
	top: 0;
	z-index: 1000;
	transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}
header.wp-block-template-part.header-scrolled {
	top: -220px;
}
header.wp-block-template-part.immediate-scroll {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contact form styles */
form.wpcf7-form .wpcf7-form-control {
	padding: 20px;
	border-radius: 10px;
}
form.wpcf7-form .wpcf7-submit {
	color: #fff;
	padding-top: 1rem;
	padding-right: 2.25rem;
	padding-bottom: 1rem;
	padding-left: 2.25rem;
	text-decoration: none;
	background-color: var(--wp--preset--color--accent-red) !important;
	border-radius: 30px;
	border: 1px solid var(--wp--preset--color--accent-red);
	font-family: var(--wp--preset--font-family--sitefont);
}
form.wpcf7-form.init .other-requirements {
	display: none;
}
form.wpcf7-form.init .other-requirements.visible {
	display: block;
}
form.wpcf7-form.init
	.artwork
	.wpcf7-form-control-wrap
	.wpcf7-form-control.wpcf7-radio {
	display: flex;
	flex-direction: column;
}

.has-global-padding > .alignfull {
	margin-right: 0;
	margin-left: 0;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image a {
	border-radius: 15px;
	border: 1px solid #eee;
	box-sizing: border-box;
	padding: 10px;
}
.woocommerce div.product div.images .flex-control-thumbs li img {
	border-radius: 10px;
	border: 1px solid #eee;
	padding: 10px;
	box-sizing: border-box;
}
.woocommerce .wcpa_field_error {
	box-sizing: border-box;
	padding: 10px 15px;
	color: varr(--wp--preset--color--accent-red);
	font-weight: bold;
	background-color: #f4fff7;
	border: 1px solid #4ab866;
	border-radius: 4px;
}
.woocommerce .wcpa_field_wrap.student-name input[type="text"] {
	text-transform: uppercase;
}
.woocommerce div.product form.cart button.single_add_to_cart_button,
.woocommerce div.product form.cart button[name="add-to-cart"],
.wc-block-components-button:not(.is-link) {
	border-radius: 4px;
}
.wcpa_field_label {
	font-weight: 600 !important;
}
.wcpa_wrap .wcpa_field_wrap {
	margin: 0 0 30px;
}
.woocommerce.wc-block-catalog-sorting select.orderby {
	box-sizing: border-box;
	padding: 10px;
	font-family: var(--wp--preset--font-family--sitefont) !important;
}
.wc-block-cart-link {
	border-width: 0;
	font-family: inherit;
	font-size: var(--wp--preset--font-size--medium);
	font-style: inherit;
	font-weight: 600;
	letter-spacing: inherit;
	line-height: inherit;
	padding-top: 0.75rem !important;
	padding-right: 2.25rem !important;
	padding-bottom: 0.75rem !important;
	padding-left: 2.25rem !important;
	text-decoration: none;
	text-transform: inherit;
	border-radius: 9999px !important;
	background-color: var(--wp--preset--color--background-light) !important;
}
.woocommerce-account .wp-block-post-title,
.woocommerce-account main .woocommerce,
.woocommerce-cart .wp-block-post-title,
.woocommerce-cart main .woocommerce,
.woocommerce-checkout .wp-block-post-title,
.woocommerce-checkout main .woocommerce {
	max-width: var(--wp--style--global--wide-size);
}
.wc-block-product-template__responsive {
	grid-gap: 2.25em;
	display: grid;
}
.woocommerce div.product form.cart .variations select {
	border: 1px solid #c6d0e9;
	border-radius: 6px;
}
.woocommerce table.shop_attributes th {
	text-align: left;
}
.woocommerce-variation-price .price .woocommerce-Price-amount.amount bdi {
	font-size: var(--wp--preset--font-size--x-large) !important;
	color: var(--wp--preset--color--accent-red);
}

@media (width < 600px) {
	.hide-in-mobile {
		display: none;
	}
	.custom-logo-link {
		width: 100%;
		text-align: center;
	}
	#inner-page-testimonials.testimonial-section {
		flex-direction: column;
	}
	#inner-page-testimonials.testimonial-section .testimonial-card {
		justify-content: center;
		flex-direction: column;
	}
	#inner-page-testimonials.testimonial-section
		.testimonial-card
		.testimonial-image {
		width: 32px;
		margin: 0 auto;
	}
	#inner-page-testimonials.testimonial-section
		.testimonial-card
		.testimonial-content
		.blockquote {
		text-align: center;
	}
}

.pswp--animated-in .pswp__bg {
	background: rgba(255, 255, 255, 0.95) !important;
}
.pswp__ui--fit .pswp__caption,
.pswp__ui--fit .pswp__top-bar {
	background-color: rgba(0, 0, 0, 1) !important;
}
.pswp__button.pswp__button--close {
	background-color: var(--wp--preset--color--accent-red) !important;
}
