/**
 * The following styles get applied inside the editor only.
 */
/* Theme innerpage testimonials styles */
#homepage-testimonials.testimonial-section {
	align-items: start;
	> *,
	> *::before,
	> *::after {
		box-sizing: border-box;
	}
	.testimonial-card {
		display: flex;
		flex-basis: 30%;
		gap: 30px;
		padding: 30px;
		border-radius: 20px;
		border: 1px solid var(--wp--preset--color--background-light);
		background-color: var(--wp--preset--color--background-lighter);
		.testimonial-image {
			flex-basis: 48px;
			flex-grow: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.testimonial-content {
			flex-basis: 0;
			flex-grow: 1;
			padding: 0px;
			.blockquote {
				padding: 0px;
				margin: 0px;
				.review-stars {
					.star {
						color: gold;
					}
				}
			}
		}
	}
}
